body {
  background-color: #efd09a;
  margin: 0;
  padding: 0;
}

img.logo {
  height: 125px;
}

div.HeadContainer div {
  width: 19%;
  height: 95%;
  float: left;
}
h1.title {
  font-size: 55px;
  font-family: "Trebuchet MS";
}
h1.button {
  font-size: 45px;
}

div.box {
  background-color: #f6fbfe;
  display: grid;
  height: 400px;
  align-content: center;
}

img.header {
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

div.return {
  text-align: center;
  background-color: #f0fefe;
  border: 4px solid cadetblue;
}
div.article {
  margin: auto;
  width: 50%;
  background-color: #faebd7;
  height: fit-content;
  font-family: "Trebuchet MS";
  font-size: 23px;
  padding-top: 50px;
}
button.button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 45px;
  height: 100%;
  width: 100%;
  transition-duration: 0.3s;
}
button.button:hover {
  background-color: #5f9ea0;
  color: white;
}
div.text {
  margin: 0;
  background-color: #f6fbfe;
  position: relative;
  top: 100px;
  left: -25%;
  z-index: 1;
  height: fit-content;
  width: 115%;
  border: 2px solid #555555;
  overflow: auto;
}
div.text div {
  float: left;
}

div.text2 {
  margin: 0;
  background-color: #f6fbfe;
  position: relative;
  top: 200px;
  left: 25%;
  z-index: 1;
  width: 115%;
  height: fit-content;
  border: 2px solid #555555;
  overflow: auto;
  padding-left: 5px;
}
div.text2 div {
  float: right;
}
div.HeadContainer {
  background-color: #faebd7;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0;
  height: 150px;
  overflow: auto;
  z-index: 7;
  border: 2px solid cadetblue;
}

div.abdomen {
  z-index: 1;
  width: 40%;
  font-size: larger;
  font-family: "Trebuchet MS";
}

div.abdomen2 {
  position: relative;
  left: 20px;
  z-index: 1;
  width: 40%;
  font-size: larger;
  font-family: "Trebuchet MS";
}

div.text3 {
  margin-bottom: 400px;
  background-color: #f6fbfe;
  position: relative;
  top: 300px;
  left: -25%;
  z-index: 1;
  height: fit-content;
  width: 115%;
  border: 2px solid #555555;
  overflow: auto;
}

div.text3 div {
  float: left;
}
div.footer {
  background-color: #5f9ea0;
  height: 100px;
  color: white;
  overflow: auto;
}
div.footer div {
  float: left;
}
img.header {
  height: 400px;
}
div.Join {
  background-color: #f6fbfe;

  width: 99.6%;
  height: fit-content;
  border: 2px solid #555555;
  overflow: auto;
  margin: auto;
}
